In [ ]:
#1 Write a code to create a string with your name and print it/

name = "Anup Wagh"
print(name)

Anup Wagh

In [ ]:
#2 Write a code to find the length of the string "Hello World"


string = "Hello World"
length = len(string)
print(length)

11

In [1]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [2]:
#4  Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [3]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [4]:
#6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [5]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [6]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [7]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [8]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [9]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [10]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [11]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [12]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [13]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "cherry")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

In [14]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [15]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [16]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [17]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [18]:
#20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [20]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Anup",
    "age": 23,
    "city": "Nagpur"
}
print(person)

{'name': 'Anup', 'age': 23, 'city': 'Nagpur'}

In [21]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [22]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [23]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [24]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in person
print(key_exists)

True

In [26]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Anup', 'age': 23, 'city': 'Nagpur'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Anup', 'age': 23, 'city': 'Nagpur'}

In [27]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
ascending_order = sorted(random_numbers)

# Sort the list in descending order
descending_order = sorted(random_numbers, reverse=True)

# Print the results
print("Original list:", random_numbers)
print("Ascending order:", ascending_order)
print("Descending order:", descending_order)

Original list: [36, 37, 32, 16, 87]
Ascending order: [16, 32, 36, 37, 87]
Descending order: [87, 37, 36, 32, 16]

In [28]:
#28 Write a code to create a list with strings and print the element at the third index

# Creating a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Accessing the element at the third index (index 3)
third_index_element = fruits[3]

# Printing the result
print(third_index_element)

mango

In [31]:
#29  Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "Anup", "age": 23}
dict2 = {"city": "Nagpur", "country": "India"}

# Combine dictionaries
dict1.update(dict2)

# Print result
print(dict1)

{'name': 'Anup', 'age': 23, 'city': 'Nagpur', 'country': 'India'}

In [32]:
#30 Write a code to convert a list of strings into a set.

# Creating a list of strings
fruits = ["apple", "banana", "cherry", "apple", "orange", "banana"]

# Converting the list into a set
fruits_set = set(fruits)

# Printing the result
print(fruits_set)

{'cherry', 'apple', 'banana', 'orange'}